.wrapper {
  max-width: 600px;
  margin: 15px;
}
.wrapper .container .section {
  margin-bottom: 10px;
}
.wrapper .container .section:last-of-type {
  margin-bottom: 0;
}
.dark_mode {
  background: #000;
  color: #c7c7c7;
}

.dark_mode strong {
  color: #00c200;
  color: #00c5c7;
}