<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>LOS Bot Feed</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.min.css'><link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="app" id="app" :class="[bodyClass]">
<div class="wrapper columns">
  <div class="column">
    <div class="box"><strong>{{info.name}} the {{info.race}} {{classname}}</strong>
      <div class="stat">Level {{info.level}}</div>
      <div class="stat">HP {{report.hp}} / {{info.hp}}</div>
      <div class="stat">MP {{report.mp}} / {{info.mp}}</div>
    </div>
    <div class="box">
      <strong>Current State</strong>
      <div class="stat">As of {{report.timestamp}}</div>
      <div class="stat">Fighting {{report.mobs}}</div>
      <div class="stat">Area {{report.area}}</div>
      <div class="stat">Total runtime {{report.runtime}}</div>
      <div class="stat">Resting {{report.percent_rest}}% of the time</div>
      <div class="stat">Tracking {{report.percent_track}}% of the time</div>
      <div class="stat">Fighting {{report.percent_combat}}% of the time</div>
    </div>
    <div class="box"><strong>Juicy reporting...</strong>
      <div class="stat">Current Aura: {{report.aura}}</div>
      <div class="stat">EXP/Min: {{report.expm}} ({{this.exph}}/hr)</div>
      <div class="stat">Exp Gained: {{report.exp}}</div>
      <div class="stat">Hit Rate (Phys): {{report.phys_hit_rate}}%</div>
      <div class="stat">Average Dmg (Phys): {{report.average_phys_damage}} ({{effective_phys}})</div>
      <div class="stat">Hit Rate (Spell): {{report.spell_hit_rate}}%</div>
      <div class="stat">Average Dmg (Spell): {{report.average_spell_damage}} ({{effective_spell}})</div>
      <div class="stat">Total KILLS: {{total_kills}}</div>
      <div class="stat">KPM: {{this.kpm}}</div>
      <div class="stat">DEATHS {{report.deaths}}</div>
    </div>
    <div class="box"><strong>Paper doll...</strong>
      <div class="stat">Preferred Aura: {{info.preferred_aura}}</div>
      <div class="stat">Exp: {{experience}}</div>
      <div class="stat">Exp To Level: {{info.exp_to_level}}</div>
      <div class="stats" v-for="stat in info.stats">
        <div class="stat">{{stat.name}} {{stat.value}}</div>
      </div>
    </div>
    <div class="box"><strong>Debug stuff...</strong>
      <div class="stat">Last Direction: {{report.last_direction}}</div>
      <div class="stat">Sucessful Go: {{report.successful_go}}</div>
      <div class="stat">Blocking Mob: [{{report.blocking_mob}}]</div>
      <div class="stat">Please Wait: {{report.go_please_wait}}</div>
      <div class="stat">No Exit: {{report.go_no_exit}}</div>
      <div class="stat">Timeout: {{report.go_timeout}}</div>
      <div class="stat">Confused: {{report.confused}}</div>
      <div class="stat">Can See: {{report.can_see}}</div>
    </div>
  </div>
  <div class="column is-half">
    <div class="box"><strong>Tracks run...</strong>
        <table class="table is-fullwidth">
          <tr>
            <th title="Active Track"></th>
            <th>Name</th>
            <th title="Runs">R</th>
            <th title="Abandons">A</th>
            <th title="Completes">C</th>
            <th>Exp</th>
            <th title="Exp per minute">Expm</th>
            <th title="Kills">K</th>
            <th title="Duration in minutes">D</th>
          </tr>
          <tr v-for="track in this.sorted_tracks">
            <td v-if="track.name == report.track">*</td>
            <td v-else></td>
            <td>{{track.name}}</td>
            <td>{{track.runs}}</td>
            <td>{{track.abandons}}</td>
            <td>{{track.completes}}</td>
            <td>{{track.exp}}</td>
            <td>{{ processExpm(track) }}/min</td>
            <td>{{track.kills}}</td>
            <td>{{ Math.floor(track.duration/60*100)/100 }}</td>
          </tr>
        </table>
    </div>
    <div class="box"><strong>Inventory...</strong>
        <table class="table is-fullwidth">
          <tr>
            <th>Name</th>
            <th>Quantity</th>
          </tr>
          <tr v-for="quantity,item in report.inventory">
            <td>{{item}}</td>
            <td>{{quantity}}</td>
          </tr>
        </table>
    </div>
  </div>
  <div class="column">
    <div class="box"><strong>Mobs killed...</strong>
      <div v-for="count, mob in mobs_killed">{{count}} {{mob}}</div>
    </div>
    <div class="box"><strong>Mobs targetted...</strong>
      <div v-for="mob in sorted_mkl">{{mob}}</div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script><script  src="./script.js"></script>
</div>
</body>
</html>
